body {
    width:100vw;
    height: 100vh;
    padding:0;
    margin:0;
    text-align:center;
    font-family:'Roboto', arial;
}


.header, footer {
 background-color: #1f2937;  
 
}

.bot_header h1 {
    font-weight: bolder;
    font-size:48px;
    color:#F9FAF8;
}

.bot_header p {
    color:#F9FAF8;
    font-size:24px;
}

.header  {
    width:100vw;
    font-size: 18px;
    color:#E5E7EB; 
    padding:10px;
    margin:0px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap: wrap;  
}


a {
    text-decoration: none;
}

a:visited {
    color:#E5E7EB; 
}
ul {
    list-style-type:none;  
}

.header .logo {
    font-size:24px;
    color:#F9FAF8;
}

button, .section_3{
    background-color:#3882F6;
}

.info {
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.section_2 {
    background-color: #E5E7EB;
    font-style:italic;
    font-size:36px;
    color:#1F2937;
    padding:30px;
}


.header ul {
    display:flex;
    gap:20px;
} 



.bot_header {
    background-color: #1f2937;
    width:100vw;
    padding:10px;
    margin:0px;
    display:flex;
    justify-content: center; 
    gap:20px;
    padding-bottom: 50px;  
}

.bot_header_text {
    display:flex;
    flex-direction: column;
    max-width: 500px;
}

.bot_header_text button{
    align-self:flex-start;
    border-radius:6px;
}

.h_image {

    width:400px;
    height:200px;   
}

.main {
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.main_ele {
    max-width: 200px;
}

.main img {
    width:200px;
    height:200px;
    border-radius: 12px;
    transition: transform .2s;
}

.main img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform:scale(1.5);
}

.section_2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.section_2 p{
    max-width:800px;
}

.thor {
    font-weight: bold;
    align-self:center;
    padding:0px;
    margin-left: 400px;
}

.section_3 {
    border-radius: 10px;
    color:white;
    padding:0px;
    margin:50px;
    margin-left:500px;
    margin-right:500px;
    display:flex;
    justify-content: center;
}

.section_3 button {
    align-self: center;
    margin-left:80px;
    border-radius: 10px;
    color:white;
    border-color: white;
}

.footer {
    color:white;
    margin-bottom:500px;
}